<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <!-- FORM -->
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="form" (ngSubmit)="submit()">
                <h1>Peralta Demo</h1>
                <p class="text-body-secondary mb-4">Accede con tu usuario</p>

                <c-alert color="warning" class="mb-3" *ngIf="sessionExpired">
                  Tu sesión ha expirado. Por favor inicia sesión nuevamente.
                </c-alert>

                <c-alert color="danger" class="mb-3" *ngIf="errorMsg">
                  {{ errorMsg }}
                </c-alert>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input cFormControl formControlName="email" placeholder="Correo" autocomplete="username"
                    inputmode="email" />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl formControlName="password" placeholder="Contraseña" type="password"
                    autocomplete="current-password" />
                </c-input-group>

                <c-row class="align-items-center">
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit" [disabled]="loading">
                      <c-spinner *ngIf="loading" size="sm" class="me-2"></c-spinner>
                      Entrar
                    </button>
                  </c-col>

                  <c-col class="text-end" xs="6">
                    <button cButton class="px-0" color="link" type="button" disabled>
                      ¿Olvidaste tu contraseña?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>

          <!-- SIDE BRAND PANEL (sin register) -->
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center d-flex flex-column justify-content-center">
              <div>
                <h2 class="mb-3">Punto de Venta</h2>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>